body
  background-image: url("../img/landscape.jpg")
  background-repeat: no-repeat
  background-size: cover

form

  div
    margin: auto

    input
      color: white
      background-color: #1E2833
      width: 100%
      border: none
      border-bottom: 1px #2C353F solid
      padding: 5px

    a
      font-size: 12px
      text-align: center

.lockpad
  font-size: 9em
  margin: 50px auto 50px auto
  text-align: center

.login
  margin: 0 auto 0 auto
  padding: 30px
  background-color: #1E2833
  border-radius: 10px